@use '../abstracts/' as *;

%css-vars {
    --#{$prefix}modal-zindex: #{$zindex-modal};
    --#{$prefix}modal-width: #{$modal-md};
    --#{$prefix}modal-padding: #{$modal-inner-padding};
    --#{$prefix}modal-margin: #{$modal-dialog-margin};
    --#{$prefix}modal-color: #{$modal-content-color};
    --#{$prefix}modal-bg: #{$modal-content-bg};
    --#{$prefix}modal-border-color: #{$modal-content-border-color};
    --#{$prefix}modal-border-width: #{$modal-content-border-width};
    --#{$prefix}modal-border-radius: #{$modal-content-border-radius};
    --#{$prefix}modal-box-shadow: #{$modal-content-box-shadow-xs};
    --#{$prefix}modal-inner-border-radius: #{$modal-content-inner-border-radius};
    --#{$prefix}modal-header-padding-x: #{$modal-header-padding-x};
    --#{$prefix}modal-header-padding-y: #{$modal-header-padding-y};
    --#{$prefix}modal-header-padding: #{$modal-header-padding};
    --#{$prefix}modal-header-border-color: #{$modal-header-border-color};
    --#{$prefix}modal-header-border-width: #{$modal-header-border-width};
    --#{$prefix}modal-title-line-height: #{$modal-title-line-height};
    --#{$prefix}modal-footer-gap: #{$modal-footer-margin-between};
    --#{$prefix}modal-footer-bg: #{$modal-footer-bg};
    --#{$prefix}modal-footer-border-color: #{$modal-footer-border-color};
    --#{$prefix}modal-footer-border-width: #{$modal-footer-border-width};
}

.modal {
    @extend %css-vars;

    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--#{$prefix}modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;

    &__dialog {
        position: relative;
        width: auto;
        margin: var(--#{$prefix}modal-margin);
        pointer-events: none;

        .modal.fade & {
            @include transition($modal-transition);
            transform: $modal-fade-transform;
        }

        .modal.show & {
            transform: $modal-show-transform;
        }

        .modal.modal--static & {
            transform: $modal-scale-transform;
        }

        &--scrollable {
            height: calc(100% - var(--#{$prefix}modal-margin) * 2);

            .modal__content {
                max-height: 100%;
                overflow: hidden;
            }

            .modal__body {
                overflow-y: auto;
            }
        }

        &--centered {
            display: flex;
            align-items: center;
            min-height: calc(100% - var(--#{$prefix}modal-margin) * 2);
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        color: var(--#{$prefix}modal-color);
        pointer-events: auto;
        background-color: var(--#{$prefix}modal-bg);
        background-clip: padding-box;
        border: var(--#{$prefix}modal-border-width) solid var(--#{$prefix}modal-border-color);
        @include border-radius(var(--#{$prefix}modal-border-radius));
        box-shadow: var(--#{$prefix}modal-box-shadow);
        outline: 0;
    }
}

.modal-backdrop {
    --#{$prefix}backdrop-zindex: #{$zindex-modal-backdrop};
    --#{$prefix}backdrop-bg: #{$modal-backdrop-bg};
    --#{$prefix}backdrop-opacity: #{$modal-backdrop-opacity};

    @include overlay-backdrop(var(--#{$prefix}backdrop-zindex), var(--#{$prefix}backdrop-bg), var(--#{$prefix}backdrop-opacity));
}

.modal__header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--#{$prefix}modal-header-padding);
    border-bottom: var(--#{$prefix}modal-header-border-width) solid var(--#{$prefix}modal-header-border-color);
    @include border-top-radius(var(--#{$prefix}modal-inner-border-radius));


    .btn-close {
        padding: calc(var(--#{$prefix}modal-header-padding-y) * .5) calc(var(--#{$prefix}modal-header-padding-x) * .5);
        margin: calc(-.5 * var(--#{$prefix}modal-header-padding-y)) calc(-.5 * var(--#{$prefix}modal-header-padding-x)) calc(-.5 * var(--#{$prefix}modal-header-padding-y)) auto;
    }
}

.modal__title {
    margin-bottom: 0;
    line-height: var(--#{$prefix}modal-title-line-height);
}

.modal__body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--#{$prefix}modal-padding);
}

.modal__footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: calc(var(--#{$prefix}modal-padding) - var(--#{$prefix}modal-footer-gap) * .5);
    background-color: var(--#{$prefix}modal-footer-bg);
    border-top: var(--#{$prefix}modal-footer-border-width) solid var(--#{$prefix}modal-footer-border-color);
    @include border-bottom-radius(var(--#{$prefix}modal-inner-border-radius));

    > * {
        margin: calc(var(--#{$prefix}modal-footer-gap) * .5);
    }
}

.modal-open {
    overflow: hidden;
}

@include media-breakpoint-up(sm) {
    .modal {
        --#{$prefix}modal-margin: #{$modal-dialog-margin-y-sm-up};
        --#{$prefix}modal-box-shadow: #{$modal-content-box-shadow-sm-up};

        &__dialog {
            max-width: var(--#{$prefix}modal-width);
            margin-right: auto;
            margin-left: auto;
        }
    }

    .modal__dialog--sm {
        --#{$prefix}modal-width: #{$modal-sm};
    }
}

@include media-breakpoint-up(lg) {
    .modal__dialog--lg {
        --#{$prefix}modal-width: #{$modal-lg};
    }
}

@include media-breakpoint-up(xl) {
    .modal__dialog--xl {
        --#{$prefix}modal-width: #{$modal-xl};
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    $postfix: if($infix != '', $infix + '-down', '');

    @include media-breakpoint-down($breakpoint) {
        .modal__dialog--fs#{$postfix} {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0;

            .modal__content {
                height: 100%;
                border: 0;
                @include border-radius(0);
            }

            .modal__header,
            .modal__footer {
                @include border-radius(0);
            }

            .modal__body {
                overflow-y: auto;
            }
        }
    }
}