@use '../abstracts/' as *;
@use '../themes/' as *;

$utilities-colors: $theme-colors-rgb !default;

$utilities-text: map-merge(
    $utilities-colors,
    (
        "black": to-rgb($color-black),
        "white": to-rgb($color-white),
        "body": var(--color-gray-900-rgb)
  )
) !default;

$utilities-text-colors: map-loop($utilities-text, rgba-css-var, "$key", "text") !default;

$utilities-text-emphasis-colors: (
    "primary-emphasis": var(--#{$prefix}primary-text-emphasis),
    "secondary-emphasis": var(--#{$prefix}secondary-text-emphasis),
    "success-emphasis": var(--#{$prefix}success-text-emphasis),
    "info-emphasis": var(--#{$prefix}info-text-emphasis),
    "warning-emphasis": var(--#{$prefix}warning-text-emphasis),
    "danger-emphasis": var(--#{$prefix}danger-text-emphasis),
    "light-emphasis": var(--#{$prefix}light-text-emphasis),
    "dark-emphasis": var(--#{$prefix}dark-text-emphasis)
) !default;

$utilities-border-subtle: (
    "primary-subtle": var(--#{$prefix}primary-border-subtle),
    "secondary-subtle": var(--#{$prefix}secondary-border-subtle),
    "success-subtle": var(--#{$prefix}success-border-subtle),
    "info-subtle": var(--#{$prefix}info-border-subtle),
    "warning-subtle": var(--#{$prefix}warning-border-subtle),
    "danger-subtle": var(--#{$prefix}danger-border-subtle),
    "light-subtle": var(--#{$prefix}light-border-subtle),
    "dark-subtle": var(--#{$prefix}dark-border-subtle)
) !default;

$utilities-border: map-merge(
    $utilities-colors,
    (
        "black": to-rgb($color-black),
        "white": to-rgb($color-white)
    )
) !default;

$utilities-border-colors: map-loop($utilities-border, rgba-css-var, "$key", "border") !default;


$utilities-bg-subtle: (
  "primary-subtle": var(--#{$prefix}primary-bg-subtle),
  "secondary-subtle": var(--#{$prefix}secondary-bg-subtle),
  "success-subtle": var(--#{$prefix}success-bg-subtle),
  "info-subtle": var(--#{$prefix}info-bg-subtle),
  "warning-subtle": var(--#{$prefix}warning-bg-subtle),
  "danger-subtle": var(--#{$prefix}danger-bg-subtle),
  "light-subtle": var(--#{$prefix}light-bg-subtle),
  "dark-subtle": var(--#{$prefix}dark-bg-subtle)
) !default;

$utilities-links-underline: map-loop($utilities-colors, rgba-css-var, "$key", "link-underline") !default;
